<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.directwebremoting.org/schema/spring-dwr
	http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"
	default-lazy-init="true">
	
	<dwr:configuration>
		<dwr:create javascript ="questionService" type="spring" >
			<dwr:param name="beanName" value="questionService"/>
		</dwr:create>
		<dwr:create javascript="imageService" type="spring">
			<dwr:param name="beanName" value="imageService"/>
		</dwr:create>
		<dwr:create javascript="recordService" type="spring">
			<dwr:param name="beanName" value="recordService"/>
		</dwr:create>
		<dwr:create javascript="importData" type="spring">
			<dwr:param name="beanName" value="importData"/>
		</dwr:create>
	</dwr:configuration>
	
</beans>